@model TheatreProject.ViewModels.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

@section breadcrumb {
    <div class="row">
        <div class="small text-muted">
            @Html.ActionLink("Home", "index", "home") &raquo; Manage Profile
        </div>
        <hr>
    </div>
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Change your account settings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Password:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "changepassword")
            }
            else
            {
                @Html.ActionLink("Create", "setpassword")
            }
            ]
        </dd>
        <dt>Email:</dt>
        <dd>[
            @Html.ActionLink("Change your email", "changeemail")
            ]
        </dd>
    </dl>
</div>
