@model TheatreProject.Helpers.Paginator<TheatreProject.Models.Comment>

@{
    ViewBag.Title = "Manage Comments";
}

@section breadcrumb {
    @Html.ActionLink("Home", "index", "home") &raquo;
    @Html.ActionLink("Blog", "index") &raquo;
    @ViewBag.Title
}

<h2>@ViewBag.Title</h2>

<p>Please moderate this list of unapproved comments.</p>

@Html.DisplayFor(model => model.Items)

@Html.DisplayFor(model => model, "paginator")