@model TheatreProject.Models.Comment
@using TheatreProject.Helpers

<div @Html.Raw(Model.IsApproved ? "" : "class=\"unapproved-comment\"")>
    @if (Model.IsApproved)
    {
        <hr>
    }

    <div>@Html.KeepLineBreaks(Model.Content)</div>

    <div class="text-muted text-right small" style="margin-top: 10px;">
        Posted @Html.RelativeDate(Model.Posted) by @Model.User.UserName

        @if (User.IsInRole("Admin"))
        {
            @:|
            if (Model.IsApproved)
            {
                @Html.ActionLink("Disallow", "disallow", "comments", new { id = Model.CommentId }, null)
            }
            else
            {
                @Html.ActionLink("Approve", "approve", "comments", new { id = Model.CommentId }, null)
            }
            @:|
            @Html.ActionLink("Edit", "edit", "comments", new { id = Model.CommentId }, null)
            @:|
            @Html.ActionLink("Delete", "delete", "comments", new { id = Model.CommentId }, null)
        }
    </div>
</div>