@model TheatreProject.Helpers.Paginator<TheatreProject.Models.Post>

@{
    ViewBag.Title = @ViewBag.Category;
}

@section breadcrumb {
    @Html.ActionLink("Home", "index", "home") &raquo; @Html.ActionLink("Blog", "index") &raquo; @ViewBag.Title
}

@if (Model.Items.Any())
{
    @Html.DisplayFor(m => m.Items)

    @Html.DisplayFor(m => m, "Paginator")
}
else
{
    <p><em>There are no posts in the @ViewBag.Category.ToLower() category.</em></p>
}