@model TheatreProject.ViewModels.PostEditViewModel

@{
    ViewBag.Title = "Create Post";
}

@section breadcrumb {
    @Html.ActionLink("Home", "index", "home") &raquo; @Html.ActionLink("Blog", "index") &raquo; @ViewBag.Title
}

<div class="row">
    <hr />

    <h2>@ViewBag.Title.</h2>

    @Html.EditorForModel()
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
