@model TheatreProject.Models.Post

@{
    ViewBag.Title = "Details";
}

@section breadcrumb {
    @Html.ActionLink("Home", "index", "home") &raquo; 
    @Html.ActionLink(Model.Category.Name, "index", new { id=Model.CategoryId }) &raquo; 
    @Model.Title
}

<div class="row">
    <hr />

    <h2>@Html.ActionLink(Model.Title, "details", new { Model.PostId })</h2>
    <p>@Model.Content</p>
    <p class="post-meta text-muted small">Posted by @Model.Staff.UserName on @Model.Published</p>
</div>