@model TheatreProject.ViewModels.PostEditViewModel

@{
    ViewBag.Title = "Edit Post";
}

@section breadcrumb {
    @Html.ActionLink("Home", "index", "home") &raquo;
    @Html.ActionLink("Blog", "index") &raquo;
    @Html.ActionLink(Model.Category.Name, "category", new { id = Model.CategoryId }) &raquo;
    @Model.Title
}

<h2>@ViewBag.Title.</h2>

@Html.EditorForModel()    

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
