@model TheatreProject.ViewModels.PostEditViewModel

@{
    ViewBag.Title = "Edit Post";
}

@section breadcrumb {
    @Html.ActionLink("Home", "index", "home") &raquo;
    @Html.ActionLink("Blog", "index") &raquo;
    @Html.ActionLink(Model.Category.Name, "category", new { id = Model.CategoryId }) &raquo;
    @Model.Title
}

<div class="row">
    <hr>

    <h2>@ViewBag.Title.</h2>

    @Html.EditorForModel()    
</div>

<div class="row">
    <hr>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
