@model IEnumerable<TheatreProject.Models.Post>
@{
    ViewBag.Title = "Blog";
}

@section breadcrumb {
    @Html.ActionLink("Home", "index", "home") &raquo; @ViewBag.Title
}

<div class="row">
    <hr>

    @Html.DisplayForModel()

    @if (ViewBag.HasPrevious)
    {
        @:&laquo;  @Html.ActionLink("Previous", "index", new { page = ViewBag.PreviousPage })
    }

    @if (ViewBag.HasPrevious && ViewBag.HasNext)
    {
        @:|
    }

    @if (ViewBag.HasNext)
    {
        @Html.ActionLink("Next", "index", new { page = ViewBag.NextPage }) @:&raquo;
    }
</div>