@model TheatreProject.Helpers.Paginator<TheatreProject.Models.Post>
@{
    ViewBag.Title = "Blog";
}

@section breadcrumb {
    @Html.ActionLink("Home", "index", "home") &raquo; @ViewBag.Title
}

<div class="row">
    <hr>

    @if (ViewBag.Message != null)
    {
        <p class="text-success">
            <div class="alert alert-success">
                <strong>@ViewBag.MessageType!</strong> @ViewBag.Message
            </div>
        </p>
    }

    @Html.DisplayFor(m => m.Items)

    @if (Model.HasPreviousPage)
    {
        @:&laquo;  @Html.ActionLink("Previous", "index", new { page = Model.PreviousPageNumber })
    }

    @if (Model.HasPreviousPage && Model.HasNextPage)
    {
        @:|
    }

    @if (Model.HasNextPage)
    {
        @Html.ActionLink("Next", "index", new { page = Model.NextPageNumber }) @:&raquo;
    }
</div>