@model IEnumerable<TheatreProject.Models.Post>

@{
    ViewBag.Title = @ViewBag.Category;
}

@section breadcrumb {
    @Html.ActionLink("Home", "index", "home") &raquo; @ViewBag.Category
}

<div class="row">
    <hr />

    @if (Model.Any())
    {
        foreach (var post in Model)
        {
            <article>
                <h2>@Html.ActionLink(post.Title, "details", new { id=post.PostId })</h2>
                <p>@post.Content</p>
                <p class="post-meta text-muted small">Posted by @post.Staff.UserName on @post.Published</p>
            </article>
        }
    }
    else
    {
        <p><em>Sorry - there are no posts in the @ViewBag.Category.ToLower() category.</em></p>
    }
</div>