@model TheatreProject.Helpers.Paginator<TheatreProject.Models.Post>

@{
    ViewBag.Title = "Member's Posts";
}

@section breadcrumb {
    @Html.ActionLink("Home", "index", "home") &raquo; @Html.ActionLink("Blog", "index") &raquo; @ViewBag.Title
}

<div class="row">
    <hr>

    <h2>@ViewBag.Title.</h2>

    <p>All the posts by the member <strong>@ViewBag.UserName</strong>.</p>

    @if (Model.Items.Any())
    {
        <div class="list-group">
            @foreach (var post in Model.Items)
            {
                @Html.ActionLink(post.Title, "details", new { id = post.PostId }, new { @class = "list-group-item" })
            }
        </div>

        @Html.DisplayFor(m => m, "Paginator")
    }
    else
    {
        <p><em>Sorry - there are no posts for this staff member.</em></p>
    }
</div>

<div class="row">
    <hr>
</div>