@using TheatreProject.Helpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A blog about local theatre">
    <meta name="author" content="Alex McBride">

    <title>Local Theatre Company - @ViewBag.Title</title>

    @Styles.Render("~/Content/css")
    @*@Scripts.Render("~/bundles/modernizr")*@
    @Scripts.Render("~/bundles/jquery")

    <!-- Custom Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    @RenderSection("head", required: false)
</head>

<body>
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    Menu <i class="fa fa-bars"></i>
                </button>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>@Html.ActionLink("Home", "index", "home")</li>
                    <li>@Html.ActionLink("Blog", "index", "posts")</li>
                    <li>@Html.ActionLink("Contact", "contact", "home")</li>
                    @if (Request.IsAuthenticated)
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Welcome, @User.Identity.Name! <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                @if (User.IsInRole("Staff")  || User.IsInRole("Admin"))
                                {
                                    <li>@Html.ActionLink("New Blog Post", "create", "posts")</li>
                                    <li role="separator" class="divider"></li>
                                }

                                @if (User.IsInRole("Admin"))
                                {
                                    <li>@Html.ActionLink("Manage Users", "index", "users")</li>
                                    <li>@Html.ActionLink("Manage Categories", "index", "categories")</li>
                                    <li role="separator" class="divider"></li>
                                }

                                <li>@Html.ActionLink("Edit Profile", "index", "manage")</li>
                                <li>@Html.ActionLink("Logout", "logoff", "account")</li>
                            </ul>
                        </li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Login", "login", "account")</li>
                        <li>@Html.ActionLink("Register", "register", "account")</li>
                    }
                </ul>
            </div>
        </div>
    </nav>

    <header class="intro-header" style="background-image: url('@Url.Content("~/Content/Images/theatre-background.jpg")')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>@Html.ActionLink("Local Theatre Company", "index", "home")</h1>
                        <hr class="small">
                        <span class="subheading">A blog about local theatre</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="row small text-muted">
            @RenderSection("breadcrumb", required: false)
        </div>

        @if (ViewData.ContainsKey("Message"))
        {
            <br>

            <div id="message-flash" class="row" style="visibility: hidden;">
                <div class="alert alert-@((string)ViewData["MessageType"])">
                    <strong>@Html.Capitalize((string)ViewData["MessageType"])!</strong> @ViewData["Message"]
                </div>
            </div>

            <script type="text/javascript">
                $(function () {
                    $("#message-flash").css('visibility', 'visible').hide().fadeIn('slow');
                });
            </script>
        }

        @RenderBody()
    </div>

    <footer>
        <div class="container">
            <div class="row text-center">
                <img src="@Url.Content("~/Content/Images/theatre-logo.png")" />
            </div>
            <div class="row">
                <p class="copyright text-muted">Copyright &copy; Local Theatre Company @DateTime.Now.Year</p>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>

</html>
