@model TheatreProject.Models.Comment
@using TheatreProject.Helpers

<div @Html.Raw(Model.IsApproved ? "" : "class=\"unapproved-comment\"")>

    @if (Model.IsApproved)
    {
        <hr>
    }
    else
    {
        <div class="text-muted"><strong>[Awaiting Approval]</strong></div>
    }

    <div>@Html.KeepLineBreaks(Model.Content)</div>

    <div class="text-muted text-right small" style="margin-top: 10px;">
        @if (User.IsInRole("Admin"))
        {
            if (Model.IsApproved)
            {
                @Html.ActionLink("Disallow", "disallow", "comments", new { id = Model.CommentId }, null)
            }
            else
            {
                @Html.ActionLink("Approve", "approve", "comments", new { id = Model.CommentId }, null)
            }
            @:|
            @Html.ActionLink("Edit", "edit", "comments", new { id = Model.CommentId }, null)
            @:|
            @Html.ActionLink("Delete", "delete", "comments", new { id = Model.CommentId }, null)
            @:|
        }

        Posted by @Model.User.UserName @Html.RelativeDate(Model.Posted)
    </div>
</div>