@model TheatreProject.Models.Post
@using TheatreProject.Helpers
@using Microsoft.AspNet.Identity;

<article @Html.Raw(Model.IsApproved ? "" : "class=\"unapproved-post\"")>
    <h2>
        @Html.ActionLink(Model.Title, "details", new { id = Model.PostId })
    </h2>
    <p>@Html.ReplaceSpaces(Model.Content)</p>

    <div class="row">
        <div class="col-sm-8 text-muted small">
            Posted by @Model.Staff.UserName
            @Html.RelativeDate(Model.Published)
            in @Html.ActionLink(Model.Category.Name, "category", new { id = Model.CategoryId })
        </div>

        <div class="col-sm-4 text-muted text-right small">
            @{
                var admin = User.IsInRole("Admin");
            }

            @if (Model.IsApproved)
            {                    
                @Html.ActionLink("Disallow", "Disallow", new { id = Model.PostId }) @:|
            }
            else
            {
                if (admin)
                {
                    @Html.ActionLink("Approve", "approve", new { id = Model.PostId }) @:|
                }
                else
                {
                    @:[Needs Approval] |
                }
            }

            @if (admin || Model.BelongsTo(User.Identity.GetUserId()))
            {
                @Html.ActionLink("Edit", "edit", new { id = Model.PostId })
                @:|
                @Html.ActionLink("Delete", "delete", new { id = Model.PostId })
            }
        </div>
    </div>

    <hr>
</article>