@model TheatreProject.Models.Category

@{
    ViewBag.Title = "Delete Category";
}

@section breadcrumb {
    @Html.ActionLink("Home", "index", "home") &raquo; @Html.ActionLink("Manage Categories", "index") &raquo; @ViewBag.Title
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()

    @*<h4>Delete a blog category.</h4>*@

    <p>Are you sure you want to delete this category?</p>

    <h4>@Model.Name</h4>

    <p><em>Note: this will delete all the posts in the category as well.</em></p>

    <div class="form-actions no-color">
        <input type="submit" value="Delete" class="btn btn-default" /> |
        @Html.ActionLink("No, thanks!", "index")
    </div>
}