@model TheatreProject.Models.Category

@{
    ViewBag.Title = "Delete Category";
}

@section breadcrumb {
    <div class="row">
        <div class="small text-muted">
            @Html.ActionLink("Home", "index", "home") &raquo; @Html.ActionLink("Manage Categories", "index") &raquo; Delete
        </div>
        <hr>
    </div>
}

<div class="row">
    <h2>@ViewBag.Title</h2>

    <p>Are you sure you want to delete the category <strong>@Model.Name</strong>?</p>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("No thanks", "index")
        </div>
    }
</div>
