@model TheatreProject.ViewModels.ChangeRoleViewModel

@{
    ViewBag.Title = "Change Role Error";
}

@section breadcrumb {
    @Html.ActionLink("Home", "index", "home") &raquo; @Html.ActionLink("Manage Users", "index", "users") &raquo; @ViewBag.Title
}

<div class="row">
    <hr>

    <h2>@ViewBag.Title</h2>

    <p>You cannot change your own role.</p>

    <p>@Html.ActionLink("Go Back", "index")</p>
</div>
