@model TheatreProject.ViewModels.ChangeRoleConfirmViewModel

@{
    ViewBag.Title = "Change Role";
}

@section breadcrumb {
    @Html.ActionLink("Home", "index", "home") &raquo; @Html.ActionLink("Manage Users", "index", "users") &raquo; @ViewBag.Title
}

<div class="row">
    <hr>

    <h2>Change Role</h2>

    @if (Model.WasChanged) {
        <p>The user <strong>@Model.UserName</strong>'s role has been changed from <strong>@Model.OldRole</strong> to <strong>@Model.NewRole</strong>.</p>

        <p>@Html.ActionLink("Continue", "index")</p>
    }
    else
    {
        <p>The user <strong>@Model.UserName</strong> already has the role <strong>@Model.NewRole</strong></p>

        <p>@Html.ActionLink("Go back", "changerole", new { id = Model.UserId })</p>
    }
</div>

