@model TheatreProject.ViewModels.ChangeRoleViewModel

@{ 
    ViewBag.Title = "Change Role";
}

@section breadcrumb {
    @Html.ActionLink("Home", "index", "home") &raquo; @Html.ActionLink("Manage Users", "index", "users") &raquo; @ViewBag.Title
}

<h2>Change Role</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <h4>Change role of this user.</h4>

    <hr>

    <div class="form-horizontal">
        <div class="form-group">
            @Html.LabelFor(model => model.Role, htmlAttributes: new { @class = "control-label col-md-1" })
            <div class="col-md-11">
                @Html.DropDownListFor(model => model.Role, Model.Roles, new { @class = "form-control" })
            </div>
        </div>

        <hr>

        <div class="form-actions no-color">
            <input type="submit" value="Change Role" class="btn btn-default" />
            |
            @Html.ActionLink("No, thanks!", "index")
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}