
@{
    ViewBag.Title = "Delete Error";
}

@section breadcrumb {
    @Html.ActionLink("Home", "index", "home") &raquo; @Html.ActionLink("Manage Users", "index", "users") &raquo; @ViewBag.Title
}

<div class="row">
    <hr />

    <h2>@ViewBag.Title.</h2>

    <p>You cannot delete your own account.</p>


    <p>@Html.ActionLink("Go back", "index")</p>
</div>