@model TheatreProject.Models.User

@{
    ViewBag.Title = "Delete";
}

@section breadcrumb {
    @Html.ActionLink("Home", "index", "home") &raquo; @Html.ActionLink("Manage Users", "index", "users") &raquo; @ViewBag.Title
}

<h2>@ViewBag.Title.</h2>

<div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <p>Are you sure you want delete this user?</p>

        <table class="table">
            <tr>
                <td>@Html.LabelFor(m => m.UserName)</td>
                <td>@Html.DisplayFor(m => m.UserName)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.Email)</td>
                <td>@Html.DisplayFor(m => m.Email)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.Joined)</td>
                <td>@Html.DisplayFor(m => m.Joined)</td>
            </tr>
        </table>

        <p><em>Note: this will also delete all of the user's posts and comments.</em></p>

        <br>

        <div class="form-actions no-color">
            <input type="hidden" name="userId" value="@Model.Id">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("No, thanks!", "Index")
        </div>
    }
</div>
