@model TheatreProject.Models.Member

@{
    ViewBag.Title = "Member Details";
}

@section breadcrumb {
    @Html.ActionLink("Home", "index", "home") &raquo; @Html.ActionLink("Manage Users", "index", "users") &raquo; @ViewBag.Title
}

<h2>@ViewBag.Title.</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Username
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            <a href="mailto:@Model.Email">@Html.DisplayFor(modelItem => modelItem.Email)</a>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Joined)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Joined)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "editmember", new { id = Model.Id })
    |
    @Html.ActionLink("Delete", "delete", new { id = Model.Id })
</p>