@model TheatreProject.Models.Member

@{
    ViewBag.Title = "Member Details";
}

@section breadcrumb {
    @Html.ActionLink("Home", "index", "home") &raquo; @Html.ActionLink("Manage Users", "index", "users") &raquo; Member Details
}

<div class="row">
    <hr />
    <h2>@ViewBag.Title</h2>

    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Username
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UserName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Joined)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Joined)
            </dd>

            <dt>
                Is Suspended
            </dt>

            <dd>
                @(Model.IsSuspended ? "Yes" : "No")
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "editmember", new { id = Model.Id })
    </p>
</div>