@using TheatreProject.Models
@model IEnumerable<User>

@{
    ViewBag.Title = "Manage Users";
}

@section breadcrumb {
    @Html.ActionLink("Home", "index", "home") &raquo; Manage Users
}

<div class="row">
    <hr />

    <h2>@ViewBag.Title</h2>

    <p>Manager members of the site and create new staff.</p>

    <table class="table table-hover">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Joined)
            </th>
            <th>Role</th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @item.Joined.ToShortDateString()
                </td>
                <td>
                    @item.CurrentRole (@Html.ActionLink("Edit", "changerole", new { id = item.Id }))
                </td>
                <td>
                    @if (item is Staff)
                    {
                        @Html.ActionLink("Edit", "editstaff", new { id = item.Id })
                    }
                    else if (item is Member)
                    {
                        @Html.ActionLink("Edit", "editmember", new { id = item.Id })
                    } |
                    @Html.ActionLink("Details", "details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>

    <p>
        @Html.ActionLink("Create New Staff", "create")
    </p>
</div>